---
layout: default
---
<!-- This page uses Styleguide 2 -->
<div id="blog-single">
  <div class="top-section top-section--main-color blog-header">
    <h1>{{page.title}}</h1>
    <h3 class="blog-single__meta">{{page.sys.createdAt | date: '%B %d, %Y'}} by {% for a in page.author %}  <a href="{% assign found = false %}{% for b in site.data.custom_authors %}{% if a == b.title %}{{a | datapage_url: '../authors'}}{% assign found = true %}{% endif %}{% endfor %}{% unless found %}../by/author.html?filter=.f-{{a | slugify }}{% endunless %}">{{a}}</a> {% endfor %}</h3>
  </div>
  <section class="blog-content blog-single">
    <div class="row">
      <div class="large-8 column large-offset-2">
        <p class="blog-single__highlight">{{page.highlight}}</p>
        {{page.post | markdownify}}
      </div>
    </div>
    <div class="row">
      <div class="large-8 column large-offset-2">
        <p><a class="button no-border" href="../blog.html">Back to Blog</a></p>
      </div>
    </div>
  </section>

</div>
