---
layout: default
title:
subtitle:
main-category: open-data
---
<!-- This page uses Styleguide 2 -->
<div id="blog-single">
  <div class="top-section top-section--main-color blog-header">
    <h1>A Practical Guide for Harnessing the Power of Data</h1>
    <h3 class="blog-single__meta">Nov 02, 2016 01:45 pm by Andrew Young</h3>
  </div>
  <section class="blog-content blog-single">
    <div class="row">
      <div class="large-8 column large-offset-2">
        <p class="blog-single__highlight">Rella Kaplowitz at the Chronicle of Philanthropy: “The nonprofit organization Repair the World has one goal: to make public service a defining of American Jewish life.</p>
        <h2>How does it do that? In a word: data.</h2>
        <p>Using a series of surveys and evaluations, Repair learned that once people participate in two volunteer opportunities, they’re more likely to continue volunteering regularly. Repair has used that and other findings to inform its operations and strategy, and to accelerate its work to encourage individuals to make an enduring commitment to public service.</p>
        <p>Many purpose-driven organizations like Repair the World are committing more brainpower, time, and money to gathering data, and nonprofit and foundation professionals alike are recognizing the importance of that effort.</p>
        <p>And yet there is a difference between just having data and using it well. Recent surveys have found that 94 percent of nonprofit professionals felt they were not using data effectively, and that 75 percent of foundation professionals felt that evaluations conducted by and submitted to grant makers did not provide any meaningful insights.</p>
        <p>To remedy this, the Charles and Lynn Schusterman Family Foundation (one of Repair the World’s donors) developed the Data Playbook, a new tool to help more organizations harness the power of data to make smarter decisions, gain insights, and accelerate progress….</p>
        <p>In the purpose-driven sector, our work is critically important for shaping lives and strengthening communities. Now is the time for all of us to commit to using the data at our fingertips to advance the broad range of causes we work on — education, health care, leadership development, social-justice work, and much more…</p>
        <p>Rella Kaplowitz at the Chronicle of Philanthropy: “The nonprofit organization Repair the World has one goal: to make public service a defining element of American Jewish life. To achieve its mission, Repair works to involve thousands of young adults every year in meaningful service opportunities — and inspires them to go from being one-time participants to regular volunteers.</p>
        <p>How does it do that? In a word: data.</p>
        <ul>
          <li>Using a series of surveys and evaluations</li>
          <li>Repair learned that once people participate in two volunteer</li>
        </ul>
        <p>Using a series of surveys and evaluations, Repair learned that once people participate in two volunteer opportunities, they’re more likely to continue volunteering regularly. Repair has used that and other findings to inform its operations and strategy, and to accelerate its work to encourage individuals to make an enduring commitment to public service.</p>
        <h3>Rella Kaplowitz at the Chronicle of Philanthropy:</h3>
        <p>Many purpose-driven organizations like Repair the World are committing more brainpower, time, and money to gathering data, and nonprofit and foundation professionals alike are recognizing the importance of that effort.</p>
        <img src="images/authors/beth-noveck.jpg" alt="">
        <p>And yet there is a difference between just having data and using it well. Recent surveys have found that 94 percent of nonprofit professionals felt they were not using data effectively, and that 75 percent of foundation professionals felt that evaluations conducted by and submitted to grant makers did not provide any meaningful insights.</p>
        <p>To remedy this, the Charles and Lynn Schusterman Family Foundation (one of Repair the World’s donors) developed the Data Playbook, a new tool to help more organizations harness the power of data to make smarter decisions, gain insights, and accelerate progress….</p>
        <p>In the purpose-driven sector, our work is critically important for shaping lives and strengthening communities. Now is the time for all of us to commit to using the data at our fingertips to advance the broad range of causes we work on — education, health care, leadership development, social-justice work, and much more…</p>
        <p>Rella Kaplowitz at the Chronicle of Philanthropy: “The nonprofit organization Repair the World has one goal: to make public service a defining element of American Jewish life. To achieve its mission, Repair works to involve thousands of young adults every year in meaningful service opportunities — and inspires them to go from being one-time participants to regular volunteers.</p>
        <h4>How does it do that? In a word: data.</h4>
        <p>Using a series of surveys and evaluations, Repair learned that once people participate in two volunteer opportunities, they’re more likely to continue volunteering regularly. Repair has used that and other findings to inform its operations and strategy, and to accelerate its work to encourage individuals to make an enduring commitment to public service.</p>
        <p>Many purpose-driven organizations like Repair the World are committing more brainpower, time, and money to gathering data, and nonprofit and foundation professionals alike are recognizing the importance of that effort.</p>
        <p>And yet there is a difference between just having data and using it well. Recent surveys have found that 94 percent of nonprofit professionals felt they were not using data effectively, and that 75 percent of foundation professionals felt that evaluations conducted by and submitted to grant makers did not provide any meaningful insights.</p>
        <p>To remedy this, the Charles and Lynn Schusterman Family Foundation (one of Repair the World’s donors) developed the Data Playbook, a new tool to help more organizations harness the power of data to make smarter decisions, gain insights, and accelerate progress….</p>
        <p>In the purpose-driven sector, our work is critically important for shaping lives and strengthening communities. Now is the time for all of us to commit to using the data at our fingertips to advance the broad range of causes we work on — education, health care, leadership development, social-justice work, and much more…</p>
      </div>
    </div>
  </section>

</div>

