---
layout: contentful_sdk
---

<div id="blog-single">
  <div class="top-section top-section--main-color blog-header">
    <h1>{{page.title}}</h1>
    <h3 class="blog-single__meta">{{page.sys.created_at | date: '%B %d, %Y'}} by {% for a in page.author %}  <a href="{% assign found = false %}{% for b in site.data.custom_authors %}{% if a == b.title %}{{a | datapage_url: '../authors'}}{% assign found = true %}{% endif %}{% endfor %}{% unless found %}../by/author.html?query={{a | replace: ' ', '+'  }}{% endunless %}">{{a}}</a>{% unless forloop.last %},{% endunless %} {% endfor %}</h3>
  </div>
  <section class="blog-content blog-single">
    <div class="row">
      <div class="large-8 column large-offset-2">
         <div class="blog-single__highlight">{{page.highlight | markdownify}}</div>
        <div class="blog-single__main-body">{{page.post | markdownify}}</div>
      </div>
    </div>
  </section>

  {% if page.articles_list %}
  <section class="divider">
    <h1>Referenced Readings</h1>
  </section>
  {% endif %}

  <div id="blog-content">
    <div class="row align-center">
      <div class="large-10 column">
        <p class="js-loading js-loading--white"><img class="js-loading-spinner" src="../images/ic_refresh_white_24px.svg"></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-8 column large-offset-2" style="text-align: center; padding: 40px 0;">
      <p><a class="button no-border" href="../blog.html">Back to Blog</a></p>
    </div>
  </div>

</div>

<script>
  $(function() {
    if (document.getElementById('blog-content') != null) { renderBlog('blog-content'); }
  });
</script>
