<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Governance Research Exchange | Beta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <!-- Pulls our Typekit Fonts -->
    <script src="//use.typekit.net/zez3buj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Adds Google Analytics -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40012093-7', 'auto');
  ga('send', 'pageview');

  </script>

    <!-- Pulls the material design icon font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Pulls the font awesome design font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Pulls Slick CSS for sliders -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>

    <!-- library/styleguide dist css -->
    <!-- <link rel="stylesheet" href="css/lib/govlab-styleguide.css"> -->

    <!-- Pulls the site-specific styles -->
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
</head>
<body id="">

<header class="b-top-nav">

    <div class="e-nav-group m-left">
        <span class="e-nav-item js-nav-trigger e-nav-trigger">
            <i class="material-icons">menu</i>
        </span>
    </div>

    <div class="e-nav-group m-right e-social-media">
        <!-- Still questioning the relevance of this -->
        <a href="https://twitter.com/hashtag/ogrx" class="e-nav-item" target="_blank"><img src="{{ 'images/twitter-logo.png' | relative_url}}" alt="Twitter"></a>
    </div>

    <a class="e-logo" href="{{ '/' | relative_url }}">Open Governance Research Exchange | <em>Beta</em></a>

</header>

    <!-- Main Menu (Off Canvas) -->
    <nav class="b-main-menu">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/organizations.html' | relative_url }}">Organizations</a>
        <a href="{{ '/categories.html' | relative_url }}">Categories</a>
        <a href="{{ '/authors.html' | relative_url }}">Authors</a>
        <a href="{{ '/about.html' | relative_url }}">About</a>
        <a href="{{ '/b1c94ca2fbc3e78fc30069c8d0f01680-all.html' | relative_url }}">Exchange</a>
        <a href="{{ '/submit.html' | relative_url }}">Submit</a>
        <a href="#" class="m-disabled">Blog</a>
    </nav>

    <main role="main" class="b-main">
        {{content}}
    </main>

    <footer class='b-footer'>
        <div class="row">
          <div class="large-2 column e-sections">
              <h4>Sections</h4>
              <a href="{{ '/organizations.html' | relative_url }}" class="footer-links">Organizations</a>
              <a href="{{ '/categories.html' | relative_url }}" class="footer-links">Categories</a>
              <a href="{{ '/about.html' | relative_url }}" class="footer-links">About</a>
              <a href="mailto:ogrx@thegovlab.org" class="footer-links">Submit Feedback</a>
              <!-- <a href="./_error-form.html" class="footer-links" style="text-decoration:none">Report Errors</a> -->
              <!-- button -->
              <a class="footer-links js-open-modal" href="#">Report Errors</a>

              <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {  $('#error-form').html('<h3>Thank you!</h3><p><a class=\u0022b-button\u0022 id=\u0022error-close\u0022 onclick=\u0022$(\u0027#error-form\u0027).removeClass(\u0027m-active\u0027);\u0022 href=\u0022#\u0022>Close</a></p>');  }"></iframe>
              <!-- modal window -->
              <div class="b-modal" id="error-form">
                <div class="e-content">

                  <form class="b-form" action="https://docs.google.com/forms/d/1fszCIYbk831NQ0YOtoM1x30jiGHrsr8DsFAYTgQWUrU/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;"><ol role="list" class="ss-question-list" style="padding-left: 0;">

                    <div class="b-page-section">
                      <div class="row">
                        <h2>Report an Error</h2>
                        <label for="entry_580987916"></label>
                            <input type="text" name="entry.580987916" value="" class="ss-q-short" id="entry_580987916" dir="auto" aria-label="Location of Error (which page?)  " aria-required="true" required="" title="url" placeholder="URL Location of Error">

                        <label for="entry_1026309911"><div class="ss-q-title">
                          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                          <span class="ss-required-asterisk" aria-hidden="true"></span></div>
                          <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
                          <textarea name="entry.1026309911" rows="8" cols="0" class="ss-q-long" id="entry_1026309911" dir="auto" aria-label="Describe the problem.  " aria-required="true" required="" placeholder="Describe the Problem"></textarea>

                          <label class="ss-q-item-label" for="entry_261394681"><div class="ss-q-title">
                          </div>
                          <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
                          <input type="text" name="entry.261394681" value="" class="ss-q-short" id="entry_261394681" dir="auto" aria-label="Name  " title="" placeholder="Name">

                          <label class="ss-q-item-label" for="entry_1017009444"><div class="ss-q-title">
                          </div>
                          <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
                          <input type="text" name="entry.1017009444" value="" class="ss-q-short" id="entry_1017009444" dir="auto" aria-label="Email  " title="" placeholder="Email">
                      </div>
                    </div>

                    <input type="hidden" name="draftResponse" value="[,,&quot;6446067227325704188&quot;]
                  ">
                    <input type="hidden" name="pageHistory" value="0">

                    <input type="hidden" name="fbzx" value="6446067227325704188">

                    <div class="row">
                      <input type="submit" name="submit" value="Submit" id="ss-submit">
                    </div>
                  </ol>

                  </form></p>
                  <!-- <p><a class="b-button js-close-modal" href="#">OK</a></p> -->
                </div>
              </div>

          </div>

          <div class="large-4 column">
            <h4>More Information</h4>
            <p>OGRX is a platform for browsing and sharing research findings about new, innovative ways to solve public problems.</p>
            <p>Contact us at <a href="mailto:ogrx@thegovlab.org" class="footer-links" style="text-decoration:none">ogrx@thegovlab.org</a></p>
            <a href="submit.html" class="b-button m-naked" id="submit-button">Submit Research</a>
          </div>

          <div class="large-6 column">
            <h4>Founding Partners</h4>
            <img src="{{ 'images/organizations/deet-logo-white.png' | relative_url }}" alt="Digital Engagement logo" class="e-partner-logo m-deet"/>
            <a target="_blank" href="http://www.thegovlab.org/"><img src="{{ 'images/govlab-logo-white.png' | relative_url }}" alt="NYU Gov Lab logo" class="e-partner-logo m-govlab"/></a>
            <a target="_blank" href="https://www.mysociety.org/"><img src="{{ 'images/organizations/mysociety-logo-white.png' | relative_url }}" alt="mySociety logo" class="e-partner-logo m-mysociety"/></a>
          </div>

        </div>
    </footer>

    <div class="b-copyright">
        <div class="row">
            <div class="large-8 columns">
                <a class="e-cc-badge" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
            </div>
            <div class="large-4 columns">
              <div class="b-powered-by">
                <p>Powered by <a target="_blank" href="http://www.thegovlab.org/"><img src="{{ 'images/govlab-logo-white.png' | relative_url }}" alt="NYU Gov Lab logo" class="e-logo"/></a></p>
              </div>
            </div>
        </div>
    </div>

<div id="overlay"></div>

<a href="#" class="b-report-bug-button" title="Report Error"><i class="material-icons">bug_report</i></a>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/foundation.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/plugins/foundation.equalizer.js"></script>
<script src="{{ 'js/underscore.js' | relative_url }}"></script>
<script src="{{ 'js/lunr.js' | relative_url }}"></script>
<script src="{{ 'js/lib/scripts.js' | relative_url }}"></script>
<script src="{{ 'js/filters.js' | relative_url }}"></script>
<script src="{{ 'js/search.js' | relative_url }}"></script>
<script src="{{ 'js/uiscripts.js' | relative_url }}"></script>

<script>
$(function() {
$(document).foundation();
});
</script>

</body>
</html>
