---
layout: default
---
<div id="blog-single">
  <div class="top-section top-section--main-color blog-header">
    <h1>{{page.title}}</h1>
    <h3 class="blog-single__meta">{{page.sys.createdAt | date: '%B %d, %Y'}} by {% for a in page.author %} {{a}} {% endfor %}</h3>
    {% for a in page.affiliation %}
    <p>{{a}}</p>
    {% endfor %}
    <p>&nbsp;</p>
  </div>
  <section class="blog-content blog-single">
    <div class="row">
      <div class="large-10 column large-offset-1">
        {{page.description | markdownify}}
      </div>
    </div>

  </section>

  {% for b in page.articlesList %}
  <div class="result-item" style="display: inline-block; margin-left: -4px;">
    <h3 class="result-item__name"><a href="../{{b.publicationName | datapage_url: 'papers'}}" title="{{b.publicationName}}">{{b.publicationName}}</a></h3>
    <p class="result-item__authors">
      {% for author in b.authors %}
      <a href="../by/author.html?filter=.f-{{author | slugify}}">{{author}}</a>
      {% endfor %}
    </p>
    <div class="result-item__taxonomy result-item__taxonomy--category">
      <span class="result-item__taxonomy__key">Category</span>
      <span class="result-item__taxonomy__value">
        {% for category in b.innovationCategory %}
        <a href="../{{category | datapage_url: 'categories'}}" class="result-item__tag result-item__tag--{{ category | slugify }}">{{ category }}</a>
        {% endfor %}
      </span>

    </div>
    <div class="result-item__taxonomy result-item__taxonomy--methodology">
      <span class="result-item__taxonomy__key">Methodology</span>
      <span class="result-item__taxonomy__value">
        {% for methodology in b.methodology %}
        <a class="result-item__tag" href="../{{methodology | datapage_url: 'methodologies'}}">{{ methodology }}</a>
        {% endfor %}
      </span>
    </div>
    <div class="result-item__taxonomy result-item__taxonomy--objective">
      <span class="result-item__taxonomy__key">Objective</span>
      <span class="result-item__taxonomy__value">
        {% for objective in b.objectiveCategory %}
        <a class="result-item__tag" href="../{{objective | datapage_url: 'objectives'}}">{{ objective }}</a>
        {% endfor %}
      </span>
    </div>
    <div class="result-item__taxonomy result-item__taxonomy--type">
      <span class="result-item__taxonomy__key">Type</span>
      <span class="result-item__taxonomy__value">
        {% for type in b.publicationType %}
        <a class="result-item__tag" href="../{{type | datapage_url: 'types'}}">{{ type }}</a>
        {% endfor %}
      </span>
    </div>
    {% for org in b.organization %}
    <div class="result-item__extras result-item__extras--{{ org | slugify }}">
      {% for o in site.data.organizations %}
      {% if org == o.title %}
      <img class="result-item__extras--organization-logo" src="../images/organizations/{{o.image_white}}" alt="">
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  <div class="row">
    <div class="large-12 column">
      <p style="text-align: center;"><a class="button" href="../selectedreadings.html">Back to Lists</a></p>
    </div>
  </div>

</div>