---
layout: default
---
<div id="blog-single">
  <div class="top-section top-section--main-color blog-header">
    <h1>{{page.title}}</h1>
    <h3 class="blog-single__meta">{{page.sys.created_at | date: '%B %d, %Y'}} by {% for a in page.author %} <a href="{% assign found = false %}{% for b in site.data.custom_authors %}{% if a == b.title %}{{a | datapage_url: '../authors'}}{% assign found = true %}{% endif %}{% endfor %}{% unless found %}../by/author.html?query={{a | replace: ' ', '+' }}{% endunless %}">{{a}}</a>{% unless forloop.last %},{% endunless %} {% endfor %}</h3>
    {% for a in page.affiliation %}
    {% assign prem = false %}
    {% for b in site.data.organizations %}
    {% if a == b.title %}
    {% assign prem = true %}
    {% if b.display %}
    <a href="{{a | datapage_url: '../organizations'}}"><img src="../images/organizations/{{b.image_white}}" style="max-width: 200px"></a>
    {% else %}
    <img src="../images/organizations/{{b.image_white}}" style="max-width: 200px">
    {% endif %}
    {% endif %}
    {% endfor %}
    {% unless prem %}
    <p>{{a}}</p>
    {% endunless %}
    {% endfor %}
    <p>&nbsp;</p>
  </div>
  <section class="blog-content blog-single">
    <div class="row">
      <div class="large-10 column large-offset-1">
        {{page.description | markdownify}}
      </div>
    </div>

  </section>

  {% if page.articles_list %}
  <section class="divider">
    <h1>Selected Readings</h1>
  </section>
  {% endif %}

  {% for b in page.articles_list %}
  <div class="result-item" style="display: inline-block; margin-left: -4px;">
    <h3 class="result-item__name"><a href="../{{b.publication_name | datapage_url: 'papers'}}" title="{{b.publication_name}}">{{b.publication_name}}</a></h3>
    <p class="result-item__authors">
      {% for author in b.authors %}
      <a href="{% assign found = false %}{% for c in site.data.custom_authors %}{% if author == c.title %}{{author | datapage_url: '../authors'}}{% assign found = true %}{% endif %}{% endfor %}{% unless found %}../by/author.html?query={{author | replace: ' ', '+' }}{% endunless %}">{{author}}</a>
      {% endfor %}
    </p>
    <div class="result-item__taxonomy result-item__taxonomy--category">
      <span class="result-item__taxonomy__key">Category</span>
      <span class="result-item__taxonomy__value">
        {% for category in b.innovation_category %}
        <a href="../{{category | datapage_url: 'categories'}}" class="result-item__tag result-item__tag--{{ category | slugify }}">{{ category }}</a>
        {% endfor %}
      </span>

    </div>
    <div class="result-item__taxonomy result-item__taxonomy--methodology">
      <span class="result-item__taxonomy__key">Methodology</span>
      <span class="result-item__taxonomy__value">
        {% for methodology in b.methodology %}
        <a class="result-item__tag" href="../{{methodology | datapage_url: 'methodologies'}}">{{ methodology }}</a>
        {% endfor %}
      </span>
    </div>
    <div class="result-item__taxonomy result-item__taxonomy--objective">
      <span class="result-item__taxonomy__key">Objective</span>
      <span class="result-item__taxonomy__value">
        {% for objective in b.objective_category %}
        <a class="result-item__tag" href="../{{objective | datapage_url: 'objectives'}}">{{ objective }}</a>
        {% endfor %}
      </span>
    </div>
    <div class="result-item__taxonomy result-item__taxonomy--type">
      <span class="result-item__taxonomy__key">Type</span>
      <span class="result-item__taxonomy__value">
        {% for type in b.publication_type %}
        <a class="result-item__tag" href="../{{type | datapage_url: 'types'}}">{{ type }}</a>
        {% endfor %}
      </span>
    </div>
    {% for org in b.organization %}
    <div class="result-item__extras result-item__extras--{{ org | slugify }}">
      {% for o in site.data.organizations %}
      {% if org == o.title %}
      <img class="result-item__extras--organization-logo" src="../images/organizations/{{o.image_white}}" alt="">
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  <div class="row">
    <div class="large-12 column" style="padding: 40px 0">
      <p style="text-align: center;"><a class="button" href="../selectedreadings.html">Back to Lists</a></p>
    </div>
  </div>

</div>