---
layout: default
---
<!-- This page uses Styleguide 2 -->
<div id="blog-single">
  <div class="top-section top-section--main-color blog-header">
    <h1>{{page.publicationName}}</h1>
    <h3 class="blog-single__meta">{{page.sys.createdAt | date: '%B %d, %Y'}} by {% for a in page.authors %} {{a}} {% endfor %}</h3>
  </div>
  <section class="blog-content blog-single">
    <div class="row">
      <div class="large-8 column large-offset-2">
        {{page.abstract}}
      </div>
    </div>
  </section>

</div>

