---
---

// styles.scss
// used to manage sass dependencies by only importing the sass files that will be used in the site build
// add any site-specific sass you want to use here using an @import

$small-only: (max-width 40em);
$medium: 40.063em 64em;
$large: 64.063em 90em;


// Colors
$main-color: rgba( 0,  79, 111, 1);
$accent-color: #F0B300;

$gray:      rgba(113, 126, 129, 1);
$green:     rgba( 86, 161, 115, 1);
$orange:    rgba(214,  90,  67, 1);
$green2:    rgba( 96, 122,  52, 1);
$yellow:    rgba(217, 190,  91, 1);
$brown:     rgba(106,  79,  59, 1);
$blue:      rgba( 63, 112, 182, 1);
$blue-gray: rgba(102, 139, 152, 1);
$dark-blue: rgba( 49,  73,  86, 1);
$teal:      rgba( 75, 140, 142, 1);
$red:       rgba(179,  57,  69, 1);



// Mapping the base colors to the category vars
$all: rgba(59,79,101,1);
$behavioral-research: rgba(222,96,108,1);
$citizen-engagement: rgba(95, 169,212,1);
$civic-technology: rgba(166,127,185,1);
$data-analysis: rgba(243,180,75,1);
$expert-networking: rgba(110,123,151,1);
$open-data: rgba(0,173,152,1);
$labs-and-experimentation: rgba(219,192,72,1);


#overlay { background-color: transparent !important; }

// Importing Styleguide
@import 'styleguide/styles'; // govlab-styleguide sass

// New Components
@import 'main-search';
@import 'switch';
@import 'news-box';
@import 'main-categories';
@import 'results';
@import 'form';
@import 'filter-ui';

// Site specific styles
@import 'paper-page';
@import 'organization-page';
// @import 'error-form';

@import 'custom';

@import 'blog';
@import 'blog-single';


