---
---

$small-only: (max-width 40em);
$medium: 40.063em 64em;
$large: 64.063em 90em;

// Colors
$main-color: rgba( 0,  79, 111, 1);
$accent-color: #F0B300;
// Mapping the base colors to the category vars
$all: rgba(59,79,101,1);
$behavioral-research: rgba(222,96,108,1);
$citizen-engagement: rgba(95, 169,212,1);
$civic-technology: rgba(166,127,185,1);
$data-analysis: rgba(243,180,75,1);
$expert-networking: rgba(110,123,151,1);
$open-data: rgba(0,173,152,1);
$labs-and-experimentation: rgba(219,192,72,1);

#overlay { background-color: transparent !important; }



@import 'breakpoint';
@import 'base';
@import 'custom';
@import 'footer';
@import 'homepage';
@import 'main-search';
@import 'main-categories';
@import 'switch';

