.top-section {
  &--main-color {
    background-color: $main-color;
  }
}

.search {
  input[type="submit"] {
    margin-left: 0;
  }
}

.top-bar--main-color {
  background-color: darken($main-color, 2);
}