#error-form {
  label {
    display: block;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
  } 

  .e-datepicker {
    // We will need to improve this.
    @extend .e-select;

    &:hover:before {
      display: none;
    }
  }

  [type='date'] {
    background-color: transparent;
  }

  input[type=date]::-webkit-clear-button,
  input[type=date]::-webkit-inner-spin-button {
      display: none;
  }

  .b-page-section { padding: 0; }
}
