.footer {
  h4 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .4px;
  }

  &__content a { display: block; }

  p, a {
    font-size: .9rem;
    margin: 0;
  }

  &__partner-logo {
    margin-right: 5%;
    display: inline-block !important;

    &--deet { max-width: 40%; }
    &--govlab { max-width: 24%; }
    &--mysociety { max-width: 25%; }

  }


}

.powered-by {
  text-align: right;
  opacity: .3;
  transition: opacity .4s ease;

  &:hover {
    opacity: 1;
    transition: opacity .4s ease;
  }

  p {
    text-transform: uppercase;
    font-weight: 600;
  }

  &__logo {
    width: 110px;
    margin-left: 15px;
  }
}