#homepage {
  .top-section {
    h3 { text-transform: none; }
  }
}

#main-logo {
  width: 25rem;
  opacity: 1;
  display: block;
  margin: 0 auto;
}

.browsing-ways {
  margin-top: 30px;
}

.top-bar__logo {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px;
  color: white;

  em {
    font-weight: 300;
  }

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.organization-logo {
  padding: 60px 20px;
  max-width: 260px;
  margin: 0 auto;
}
