#homepage {
  .top-section {
    h3 { text-transform: none; }
  }
}

#main-logo {
  width: 25rem;
  opacity: 1;
  display: block;
  margin: 0 auto;
}

.browsing-ways {
  margin-top: 30px;
}

.top-bar__logo {
  font-size: 0.7rem;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.5rem 0;
  color: white; 

  em {
    font-weight: 300;
  }

  &:hover {
    text-decoration: none;
    color: white;
  }

  &__desktop { display: inline-block; }
  &__mobile { display: none; }

  @media (max-width: 600px) {
    &__desktop { display: none; }
    &__mobile { display: inline-block; }
  }
}

.organization-logo {
  padding: 60px 20px;
  max-width: 260px;
  margin: 0 auto;
}
