.main-categories { padding: 0; }

.category-item {
  height: 100%;
  padding: 25% 0 25% 0;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  display: block;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: darken($main-color, 6);
  }

  background-color: $main-color;

  // Colors for the main categories
  &--all { background-color: $all; }
  &--behavioral-research,
  &--behavioral-science-and-nudges { background-color: $behavioral-research; }
  &--citizen-engagement { background-color: $citizen-engagement; }
  &--civic-technology { background-color: $civic-technology; }
  &--data-analysis { background-color: $data-analysis; }
  &--expert-networking { background-color: $expert-networking; }
  &--open-data { background-color: $open-data; }
  &--labs-and-experimentation { background-color: $labs-and-experimentation; }

  &--all:hover { background-color: darken($all, 6); }
  &--behavioral-research:hover,
  &--behavioral-science-and-nudges:hover { background-color: darken($behavioral-research, 6); }
  &--citizen-engagement:hover { background-color: darken($citizen-engagement, 6); }
  &--civic-technology:hover { background-color: darken($civic-technology, 6); }
  &--data-analysis:hover { background-color: darken($data-analysis, 6); }
  &--expert-networking:hover { background-color: darken($expert-networking, 6); }
  &--open-data:hover { background-color: darken($open-data, 6); }
  &--labs-and-experimentation:hover { background-color: darken($labs-and-experimentation, 6); }
}


// Colors for the main categories
.tag {
  &--all {
    background-color: rgba($all, .2);
    color: $all;
  }
  &--behavioral-science-and-nudges {
    background-color: rgba($behavioral-research, .2);
    color: $behavioral-research;
  }
  &--citizen-engagement {
    background-color: rgba($citizen-engagement, .2);
    color: $citizen-engagement;
  }
  &--civic-technology {
    background-color: rgba($civic-technology, .2);
    color: $civic-technology;
  }
  &--data-analysis {
    background-color: rgba($data-analysis, .2);
    color: $data-analysis;
  }
  &--expert-networking {
    background-color: rgba($expert-networking, .2);
    color: $expert-networking;
  }
  &--open-data {
    background-color: rgba($open-data, .2);
    color: $open-data;
  }
  &--labs-and-experimentation {
    background-color: rgba($labs-and-experimentation, .2);
    color: $labs-and-experimentation;
  }
}













.top-section {
  background-color: $main-color;
  // Colors for the top sections
  &--all {
    background-color: $all;
  }
  &--behavioral-science-and-nudges {
    background-color: $behavioral-research;
  }
  &--citizen-engagement-and-crowdsourcing {
    background-color: $citizen-engagement;
  }
  &--civic-technology {
    background-color: $civic-technology;
  }
  &--data-analysis {
    background-color: $data-analysis;
  }
  &--expert-networking {
    background-color: $expert-networking;
  }
  &--open-data {
    background-color: $open-data;
  }
  &--labs-and-experimentation {
    background-color: $labs-and-experimentation;
  }
}



