#submit-button {
  text-align: center;
  position: relative;
  top: 30px;
  background-color: $accent-color;
  color: darken($accent-color, 20);
}


.search.search--main-search {
    display: flex;

    input[type="text"] {
      padding: 12px;
      font-size: 1.5rem;
      max-width: 100%;
      flex: 1;

      &:focus { background-color: rgba(white, .3); }
  }

  input[type="submit"], 
  input[type="button"] {
    padding: 17px;
    background-color: rgba(white, .2);
  }

  input[type="button"] { 
    padding: 16px 17px; 
    @extend .u-material-icons;
  }

  ::-webkit-input-placeholder {
   color: rgba(white, .3);
   text-align: left;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: rgba(white, .3);
     text-align: left;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: rgba(white, .3);
     text-align: left;
  }

  :-ms-input-placeholder {
     color: rgba(white, .3);
     text-align: left;
  }

}

.main-search-section {
  background-color: rgba(black, .2);
  padding-top: 80px;

  .main-search-section--tagline {
    text-align: center;
    padding: 0 0 40px;
    color: white;

    @include breakpoint($small-only) {
      font-size: 16px;
    }
  }
}

.organizations {
  background-color: white;

  &--digital-engagement-evaluation-team { max-width: 330px !important; }
}