.b-results-section {
  padding: 0;
}

.b-result-item {
  font-weight: 300;
  display: inline-block;
  position: relative;
  vertical-align: top;
  background-color: $white;
  padding: 30px 30px 90px;
  width: 100%;
  display: block;
  height: 420px;
  border-bottom: 1px solid rgba($black, .1);
  border-right: 1px solid rgba($black, .1);
  text-decoration: none;
  
  

  @include breakpoint($medium) {
    width: 50%;
    margin: 0;
    // &:nth-of-type(2n + 1) a { background-color: rgba($black, .1); }

    a {
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }

  @include breakpoint($large) {
    // transition: all .4s ease;
    width: calc(100% / 3);
    margin: 0;


    

    &:hover {
      // transition: all .4s ease;
      background-color: rgba($black, .05);

      &:after {
        border-top: 12px solid $main-color;
        border-left: 12px solid $main-color;
      }

      // box-shadow: 0 0 20px rgba($black, .2);
      // position: relative;
      // z-index: 10;
      // background-color: $white;

      // &:nth-of-type(3n + 1):hover { transform: scale(1.1) translate(4.5%); }
      // &:nth-of-type(3n + 2):hover { transform: scale(1.1); }
      // &:nth-of-type(3n):hover { transform: scale(1.1) translate(-4.5%); }
    }
  }


  // Sets the trisngle on the top left corner
  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 12px solid rgba($black, .3);
    border-left: 12px solid rgba($black, .3);
    border-right: 12px solid rgba($black, 0);
    border-bottom: 12px solid rgba($black, 0);
  }

  .e-result-name {
    font-size: 1rem;
    text-transform: none;
    min-height: 4.5rem;
  }

  .e-result-taxonomy {
    font-size: .8rem;
    display: block;
    overflow: hidden;
    margin-bottom: 5px;

    .e-key {
      float: left;
      width: 90px;
    }

    .e-value {
      float: right;
      width: calc(100% - 90px;)
    }
  }

  .e-tag {
    font-size: .6rem;
    text-transform: uppercase;
    display: inline-block;
    padding: 3px 8px;
    background-color: rgba($black, .1);
    margin-bottom: 3px;
    opacity: .7;

    &:empty { display: none; }

    &:hover {
      opacity: 1;
      text-decoration: none;
    }

  // Colors for the main categories
 
    &.m-all {
      background-color: rgba($all, .2);
      color: darken($all, 8);
    }
    &.m-behavioral-science-and-nudges {
      background-color: rgba($behavioral-research, .2);
      color: darken($behavioral-research, 8);
    }
    &.m-citizen-engagement {
      background-color: rgba($citizen-engagement, .2);
      color: darken($citizen-engagement, 8);
    }
    &.m-civic-technology {
      background-color: rgba($civic-technology, .2);
      color: darken($civic-technology, 8);
    }
    &.m-data-analysis {
      background-color: rgba($data-analysis, .2);
      color: darken($data-analysis, 8);
    }
    &.m-expert-networking {
      background-color: rgba($expert-networking, .2);
      color: darken($expert-networking, 8);
    }
    &.m-open-data {
      background-color: rgba($open-data, .2);
      color: darken($open-data, 8);
    }
    &.m-labs-and-experimentation {
      background-color: rgba($labs-and-experimentation, .2);
      color: darken($labs-and-experimentation, 8);
    }
  

  }

  .e-result-authors {
    font-size: .9rem;
    min-height: 3rem;
  }

  .e-result-extras {
    padding: 15px 30px;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;

    .e-github-logo {
      width: 24px;
      opacity: .2;
      margin: 0 5px;
    }

    i {
      opacity: .2;
      font-size: 1.7rem;
      line-height: 1;
      vertical-align: bottom;
      margin: 0 5px -2px;
    }
  }
}

// Sets the banner for the restricted access items
.b-result-item {

    .e-result-extras {
      &.m-the-govlab {
        background-color: $purple;
        i {color: $white;}
      }

      &.m-mysociety {
        background-color: rgba($black, .8);
        i {color: $white;}
      }
      &.m-centre-for-public-impact {
        background-color: rgba(#2a5159, .8);
        i {color: $white;}
      }
      &.m-digital-commons-lab {
        background-color: rgba(#1383a2, .8);
        i {color: $white;}
      }
      &.m-center-for-policy-informatics {
        background-color: rgba(#8D0E45, .8);
        i {color: $white;}
      }
      &.m-swedish-law-and-informatics-institute {
        background-color: rgba(#3f7489, .8);
        i {color: $white;}
      }
      &.m-open-data-for-development {
        background-color: rgba(#d25e1b, .8);
        i {color: $white;}
      }
      &.m-open-evidence {
        background-color: rgba(#00bac2, .8);
        i {color: $white;}
      }
      &.m-open-knowledge-international {
        background-color: rgba(#68B83A, .8);
        i {color: $white;}
      }
      &.m-world-bank-digital-engagement-evaluation-team {
        background-color: $blue;
        i {color: $white;}
        .e-organization-logo {
          float: left;
          max-height: 34px;
        }
      }

    .m-closed-access {
      color: $red;
      opacity: 1;
    }

    .e-organization-logo {
      float: left;
      max-height: 26px;
    }

  }

  &.m-type-research-report {

  }

  &.m-type-white-paper { }
  &.m-type-journal-article { }
  &.m-type-book-chapter { }
  &.m-type-working-paper { }
  &.m-type-conference-paper { }
  &.m-type-thesisdissertation { }
  &.m-type-article-draft { }

  // &.m-open-data {
  //   color: $open-data;
  //   &:after { border-color: $open-data transparent transparent $open-data; }
  // }

  // &.m-citizen-engagement-and-crowdsourcing {
  //   color: $citizen-engagement;
  //   &:after { border-color: $citizen-engagement transparent transparent $citizen-engagement; }
  // }

  // &.m-behavioral-science-and-nudges {
  //   color: $behavioral-research;
  //   &:after { border-color: $behavioral-research transparent transparent $behavioral-research; }
  // }
  // &.m-data-analysis {
  //   color: $data-analysis;
  //   &:after { border-color: $data-analysis transparent transparent $data-analysis; }
  // }

}


.b-filter-panel {
  text-align: center;
}