
{% assign papers = site.data.contentful.spaces.content.paper | filter_data_by_field: include.filter_on, include.filter_by %}
<section class="filters">

  <div class="row align-center">
    <div class="large-6 column large-offset-1">
      <div class="switch">
        <label>
          All Articles
          <input type="checkbox" class="filter" data-filter="f-open">
          <span class="lever"></span>
          Open Access Articles Only
        </label>
      </div>
    </div>
  </div>

  <div class="row align-center">
    <div class="large-10 column">
      <form action="" class="search search--main-search search--negative lunr-form" id="lunr-filter-form">
        <input id="lunr-filter" type="text" placeholder="Search" data-category="{{display_name | slugify }}" />
        <input class="search__trigger material-icons" type="button" value="search">
      </form>
    </div>
  </div>

  <div class="filter-controls">
    <div class="row expanded align-center">
      <div class="large-12 column">

        {% assign organization_filters = "" | split:"|" %}
        {% assign objective_filters = "" | split:"|" %}
        {% assign methodology_filters = "" | split:"|" %}
        {% assign sector_filters = "" | split:"|" %}
        {% assign region_filters = "" | split:"|" %}
        {% assign type_filters = "" | split:"|" %}
        {% assign project_filters = "" | split:"|" %}

        {% for p in papers %}

        {% for x in p.organization %}
        {% unless organization_filters contains x %}
        {% assign organization_filters = organization_filters | push: x %}
        {% endunless %}
        {% endfor %}

        {% for x in p.objectiveCategory %}
        {% unless objective_filters contains x %}
        {% assign objective_filters = objective_filters | push: x %}
        {% endunless %}
        {% endfor %}

        {% for x in p.methodology %}
        {% unless methodology_filters contains x %}
        {% assign methodology_filters = methodology_filters | push: x %}
        {% endunless %}
        {% endfor %}

        {% for x in p.sectorCategory %}
        {% unless sector_filters contains x %}
        {% assign sector_filters = sector_filters | push: x %}
        {% endunless %}
        {% endfor %}

        {% for x in p.region %}
        {% unless region_filters contains x %}
        {% assign region_filters = region_filters | push: x %}
        {% endunless %}
        {% endfor %}

        {% for x in p.publicationType %}
        {% unless type_filters contains x %}
        {% assign type_filters = type_filters | push: x %}
        {% endunless %}
        {% endfor %}

        {% for x in p.project %}
        {% unless project_filters contains x %}
        {% assign project_filters = project_filters | push: x %}
        {% endunless %}
        {% endfor %}

        {% endfor %}

        <div class="filter-ui-container">
          <div class="select">
            <select name="" id="filter-organization" class="filter js-change" {% unless organization_filters.size > 0 %}disabled{% endunless %}>
              <option data-filter="*">Organization</option>
              {% for r in organization_filters %}
              <option data-filter="f-{{r | slugify}}">{{r}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="filter-ui-container">
          <div class="select">
            <select name="" id="filter-objective" class="filter js-change" {% unless objective_filters.size > 0 %}disabled{% endunless %}>
              <option data-filter="**">Objective</option>
              {% for r in objective_filters %}
              <option data-filter="f-{{r | slugify}}">{{r}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="filter-ui-container">
          <div class="select">
            <select name="" id="filter-methodology" class="filter js-change" {% unless methodology_filters.size > 0 %}disabled{% endunless %}>
              <option data-filter="***">Methodology</option>
              {% for r in methodology_filters %}
              <option data-filter="f-{{r | slugify}}">{{r}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="filter-ui-container">
          <div class="select">
            <select name="" id="filter-sector" class="filter js-change" {% unless sector_filters.size > 0 %}disabled{% endunless %}>
              <option data-filter="****">Sector</option>
              {% for r in sector_filters %}
              <option data-filter="f-{{r | slugify}}">{{r}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="filter-ui-container">
          <div class="select">
            <select name="" id="filter-region" class="filter js-change" {% unless region_filters.size > 0 %}disabled{% endunless %}>
              <option data-filter="*****">Region</option>
              {% for r in region_filters %}
              <option data-filter="f-{{r | slugify}}">{{r}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="filter-ui-container">
          <div class="select">
            <select name="" id="filter-type" class="filter js-change" {% unless type_filters.size > 0 %}disabled{% endunless %}>
              <option data-filter="******">Type</option>
              {% for r in type_filters %}
              <option data-filter="f-{{r | slugify}}">{{r}}</option>
              {% endfor %}
            </select>
          </div>
        </div>


        <div class="filter-ui-container">
          <div class="select">
            <select name="" id="filter-project" class="filter js-change" {% unless project_filters.size > 0 %}disabled{% endunless %}>
              <option data-filter="*******">Project</option>
              {% for r in project_filters %}
              <option data-filter="f-{{r | slugify}}">r</option>
              {% endfor %}
            </select>
          </div>
        </div>

      </div>
    </div>
    <div class="row align-center">
      <div class="large-3 column">
        <a class="button" id="clear-filter-btn">Clear Filters</a>
      </div>
    </div>
  </div>


</section>