<footer class='footer'>
  <div class="row">
    <div class="large-10 large-centered columns">
      <div class="row">
        <div class="footer__content footer--sections medium-4 column">
          <h2>Sections</h2>
          <!-- Add generated sections here -->
        </div>
        <div class="footer__content medium-4 column">
          <h2>Lead Supporters</h2>
          <a class="footer__partner-logo" href="https://www.macfound.org/" tagret="_blank"><img src="images/partners/macarthur-logo-white.png" alt="MacArthur Foundation"></a>
          <a class="footer__partner-logo" href="http://knightfoundation.org/" tagret="_blank"><img src="images/partners/knight-logo-white.png" alt="Knight Foundation"></a>
          <a class="footer__partner-logo footer__partner-logo--google" href="http://google.org/" tagret="_blank"><img src="images/partners/google-org.png" alt="Google.org"></a>
        </div>
        <div class="footer__content medium-4 column">
          <h2>Based at</h2>
          <a class="footer__partner-logo" href="http://engineering.nyu.edu/tandon" tagret="_blank"><img src="images/partners/nyu.png" alt="NYU Tandon School of Engineering - New York University"></a>
          <a class="footer__partner-logo footer--mit" href="https://www.media.mit.edu/" tagret="_blank"><img src="images/partners/mit-logo-white.png" alt="MIT Media Lab"></a>
        </div>
      </div>
    </div>
  </div>
</footer>