<footer class='footer'>
  <div class="row">
    <div class="medium-3 column footer__content">
        <h4>Sections</h4>
        <a href="{{ '/organizations.html' | relative_url }}" class="footer-links">Organizations</a>
        <a href="{{ '/categories.html' | relative_url }}" class="footer-links">Categories</a>
        <a href="{{ '/about.html' | relative_url }}" class="footer-links">About</a>
        <a href="mailto:ogrx@thegovlab.org" class="footer-links">Submit Feedback</a>
        <a class="footer-links contact" href="mailto:ogrx@thegovlab.org">Contact</a>
        <a class="footer-links js-open-modal" href="#">Report Errors</a>
        <a href="{{ '/blog.html' | relative_url }}" class="footer-links">Blog</a>
    </div>

    <div class="medium-3 column footer__content">
      <h4>More Information</h4>
      <p>OGRX is a platform for browsing and sharing research findings about new, innovative ways to solve public problems.</p>
    </div>

    <div class="medium-6 column footer__content">
      <h4>Founding Partners</h4>
        <span class="footer__partner-logo footer__partner-logo--deet"><img src="{{ 'images/organizations/deet-logo-white.png' | relative_url }}" alt="Digital Engagement logo"/></span>
        <a class="footer__partner-logo footer__partner-logo--govlab" target="_blank" href="http://www.thegovlab.org/"><img src="{{ 'images/govlab-logo-white.png' | relative_url }}" alt="NYU Gov Lab logo"/></a>
        <a class="footer__partner-logo footer__partner-logo--mysociety" target="_blank" href="https://www.mysociety.org/"><img src="{{ 'images/organizations/mysociety-logo-white.png' | relative_url }}" alt="mySociety logo"/></a>
    </div>
  </div>
</footer>

