{% if include.filter_on == "*" %}
{% assign papers = site.data.contentful.spaces.content.paper %}
{% else %}
{% assign papers = site.data.contentful.spaces.content.paper | filter_data_by_field: include.filter_on, include.filter_by %}
{% endif %}

<div class="page-section results-section isotope">
  <div class="row expanded">
    <div class="column large-12">

      {% for b in papers %}

      <div class="result-item
      m-open-{{b.open}}
      f-open-{{b.open}}

      {% for org in b.organization %}
      f-{{org | slugify}}
      {% endfor %}

      {% for obj in b.objectiveCategory %}
      f-{{obj | slugify}}
      {% endfor %}

      {% for met in b.methodology %}
      f-{{met | slugify}}
      {% endfor %}

      {% for sec in b.sectorCategory %}
      f-{{ sec | slugify}}
      {% endfor %}

      {% for reg in b.region %}
      f-{{ reg | slugify}}
      {% endfor %}

      {% for proj in b.project %}
      f-{{ proj | slugify}}
      {% endfor %}

      {% for type in b.publicationType %}
      f-{{ type | slugify}}
      {% endfor %}

      {% for cat in b.innovationCategory %}
      m-{{ cat | slugify}}
      {% endfor %}

      f-search-{{b.sys.id}}

      " style="display: inline-block; margin-left: -4px;">
      <h3 class="result-item__name"><a href="../{{b.publicationName | datapage_url: 'papers'}}" title="{{b.publicationName}}">{{b.publicationName}}</a></h3>
      <p class="result-item__authors">
        {% for author in b.authors %}
        <a href="../authors/{{author | slugify}}.html">{{author}}</a> <!-- FIX THE COMMA SEPARATION -->
        {% endfor %}
      </p>
      <div class="result-item__taxonomy result-item__taxonomy--category">
        <span class="result-item__taxonomy__key">Category</span>
        <span class="result-item__taxonomy__value">
          {% for category in b.innovationCategory %}
          <a href="../{{category | datapage_url: 'categories'}}" class="result-item__tag result-item__tag--{{ category | slugify }}">{{ category }}</a>
          {% endfor %}
        </span>

      </div>
      <div class="result-item__taxonomy result-item__taxonomy--methodology">
        <span class="result-item__taxonomy__key">Methodology</span>
        <span class="result-item__taxonomy__value">
          {% for methodology in b.methodology %}
          <a class="result-item__tag" href="../{{methodology | datapage_url: 'methodologies'}}">{{ methodology }}</a>
          {% endfor %}
        </span>
      </div>
      <div class="result-item__taxonomy result-item__taxonomy--objective">
        <span class="result-item__taxonomy__key">Objective</span>
        <span class="result-item__taxonomy__value">
          {% for objective in b.objectiveCategory %}
          <a class="result-item__tag" href="../{{objective | datapage_url: 'objectives'}}">{{ objective }}</a>
          {% endfor %}
        </span>
      </div>
      <div class="result-item__taxonomy result-item__taxonomy--type">
        <span class="result-item__taxonomy__key">Type</span>
        <span class="result-item__taxonomy__value">
          {% for type in b.publicationType %}
          <a class="result-item__tag" href="../{{type | datapage_url: 'types'}}">{{ type }}</a>
          {% endfor %}
        </span>
      </div>
      {% if paper.organization %}
      <!-- IF organization is Premium ORG -->
      <div class="result-item__extras {% for org in paper.organization %}result-item__extras--{{ org | slugify }}{%endfor%}">
        <img class="result-item__extras--organization-logo" src="../images/organizations/deet-logo-white.png" alt=""> <!-- INCLUDE THE RIGHT ORG IMAGE -->
      </div>
      {% endif %}
    </div>

    {% endfor %}
  </div>
</div>
</div>