<header class="top-bar">
  <span class="top-bar__button top-bar__button--left js-trigger-menu">menu</span>
  <nav class="main-menu js-target-menu main-menu--left">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/categories.html' | relative_url }}">Categories</a>
    <a href="{{ '/authors.html' | relative_url }}">Authors</a>
    <!-- <a href="{{ '/by/all.html' | relative_url }}">Exchange</a> -->
    <a href="https://thelivinglib.org/" target="_blank">The Living Library</a>
  </nav>
  <a class="top-bar__logo top-bar__logo__desktop" href="{{site.baseurl}}/">Open Governance Research Exchange</em></a></a>
  <a class="top-bar__logo top-bar__logo__mobile" href="{{site.baseurl}}/">OGRX</a></a>
  <span class="top-bar__button top-bar__button--text top-bar__button--right"><a href="https://thelivinglib.org/" target="_blank">The Living Library <i class="material-icons">launch</i></a></span>
  <!-- <span class="top-bar__button js-trigger-menu">more_vert</span>
  <nav class="main-menu js-target-menu main-menu--right">
    <a href="#">Github Repository</a>
    <a href="./sandbox.html">Sandbox</a>
  </nav> -->
</header>
