<header class="top-bar">
  <span class="top-bar__button top-bar__button--left js-trigger-menu">menu</span>
  <nav class="main-menu js-target-menu main-menu--left">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/organizations.html' | relative_url }}">Organizations</a>
    <a href="{{ '/categories.html' | relative_url }}">Categories</a>
    <a href="{{ '/authors.html' | relative_url }}">Authors</a>
    <a href="{{ '/about.html' | relative_url }}">About</a>
    <!-- <a href="{{ '/by/all.html' | relative_url }}">Exchange</a> -->
    <a href="{{ '/submit.html' | relative_url }}">Submit</a>
    <a href="{{ '/selectedreadings.html' | relative_url }}">Selected Readings</a>
    <a href="{{ '/blog.html' | relative_url }}">Blog</a>
  </nav>
  <a class="top-bar__logo top-bar__logo__desktop" href="{{site.baseurl}}/">Open Governance Research Exchange</em></a></a>
  <a class="top-bar__logo top-bar__logo__mobile" href="{{site.baseurl}}/">OGRX</a></a>
  <!-- <span class="top-bar__button js-trigger-menu">more_vert</span>
  <nav class="main-menu js-target-menu main-menu--right">
    <a href="#">Github Repository</a>
    <a href="./sandbox.html">Sandbox</a>
  </nav> -->
</header>