<header class="top-bar top-bar--main-color">
  <span class="top-bar__button js-trigger-menu">menu</span>
  <nav class="main-menu js-target-menu main-menu--left">
    <a href="./base-elements.html">Base Elements</a>
    <a href="./form.html">Form</a>
    <a href="./sections.html">Sections</a>
    <a href="./components.html">Base Components</a>
    <a href="./special-components.html">Special Components</a>
  </nav>
  <a class="top-bar__logo" href="./">Open Governance Research Exchange | <em>Beta</em></a></a>
  <span class="top-bar__button js-trigger-menu">more_vert</span>
  <nav class="main-menu js-target-menu main-menu--right">
    <a href="#">Github Repository</a>
    <a href="./sandbox.html">Sandbox</a>
  </nav>
</header>