---
layout: default
alphabet: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
---

<div class="authors-list-page">
  <div class="top-section top-section--main-color">
    <h1>Featured Authors</h1>
  </div>

<!-- List of Authors - Features Authors -->

<div class="page-section">
  <div class="row expanded align-center featured-authors">
      {% for a in site.data.custom_authors %}
      <div class="large-4 column featured-authors__list-item">
        <a href="{{a.title | datapage_url: 'authors'}}">
          <div class="featured-authors__picture" style="background-image: url('images/authors/{{ a.image }}');"></div>
        </a>
        <a href="{{a.title | datapage_url: 'authors'}}">
          <p class="featured-authors__name">{{a.title}}</p>
        </a>
        <p class="featured-authors__job">{{a.job}}</p>
      </div>
      {% endfor %}
  </div>
</div>
<!-- {# List of Authors - All Authors #} -->
<div class="divider">
  <h1>All Authors</h1>
</div>

<div class="page-section all-authors-list">
  <div class="row expanded">

    <span class="b-fixed-button-trigger"></span>
    <a class="b-fixed-button m-pos-adjust-top-1" href="#authorlist">
      <i class="material-icons">arrow_upward</i>
    </a>

    <div class="large-12 columns all-authors-list__index">
      {% for a in page.alphabet %}
        <!-- Lets do a filter here -->
        <a class="all-authors-list__index-item" href="#{{a}}">{{a}}</a>
      {% endfor %}
    </div>
  </div>
  <div class="row expanded">

    {% assign papers = site.data.contentful.spaces.papers.paper %}

    {% assign authors = "" | split:"|" %}

    {% for p in papers %}

    {% for x in p.authors %}
    {% unless authors contains x %}
    {% assign authors = authors | push: x %}
    {% endunless %}
    {% endfor %}

    {% endfor %}

    {% for a in authors | sort %}
    <div class="column large-4 all-authors-list__list-item">
      <a href="by/author.html?filter=.f-{{a | slugify}}">{{a}}</a>
    </div>
    {% endfor %}
  </div>
</div>

</div>

<script src="./js/scrollbtn.js"></script>

