---
layout: contentful_sdk
alphabet: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
custom_authors:
  - Beth Simone Noveck
  - Stefaan Verhulst
  - Andrew Young
  - Tiago Peixoto
  - Rebecca Rumbul
  - Peter John
  - François van Schalkwyk
  - Sophie Reynolds
  - Zeynep Engin
  - Anita McGahan
  - Araz Taeihagh

---

<div class="authors-list-page">
  <div class="top-section top-section--main-color">
    <h1>Featured Authors</h1>
  </div>
  <!-- List of Authors - Features Authors -->

  <div class="page-section">
    <div class="row expanded align-center featured-authors">
      {% for a in site.data.custom_authors %}
      <div class="large-4 column featured-authors__list-item">
        <a href="{{a.title | datapage_url: 'authors'}}">
          <div class="featured-authors__picture" style="background-image: url('images/authors/{{ a.image }}');"></div>
        </a>
        <a class="author-names" href="{{a.title | datapage_url: 'authors'}}">
          <p class="featured-authors__name">{{a.title}}</p>
        </a>
        <p class="featured-authors__job">{{a.job}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- {# List of Authors - All Authors #} -->
  <div class="divider">
    <h1 class="authors-margin">All Authors</h1>
    <a name="authorlist"></a>
  </div>

  <div class="page-section all-authors-list">
    <div class="row expanded">

      <span class="b-fixed-button-trigger"></span>
      <a class="b-fixed-button m-pos-adjust-top-1" href="#authorlist">
        <i class="material-icons">arrow_upward</i>
      </a>

      <div class="large-12 columns all-authors-list__index">
        {% for a in page.alphabet %}
        <!-- Lets do a filter here -->
        <a class="all-authors-list__index-item" href="#{{a}}">{{a}}</a>
        {% endfor %}
      </div>
    </div>
    <div class="row expanded" id="content">

      <p class="js-loading js-loading--white" style="text-align: center; width: 100px; display:block; margin: 0 auto;"><img class="js-loading-spinner" src="../images/ic_refresh_black_24px.svg"></p>

      {% comment %}

      {% assign papers = site.data.contentful.spaces.papers.paper %}

      {% assign authors = "" | split:"|" %}

      {% for p in papers %}

      {% for x in p.authors %}
      {% unless authors contains x %}
      {% assign authors = authors | push: x %}
      {% endunless %}
      {% endfor %}

      {% endfor %}


      {% assign sorted_authors = authors | sort_authors %}

      {% for a in sorted_authors %}
      <div class="alpha_anchor">
        <a name="{{a | get_last_initial }}"></a>
      </div>
      <div class="column small-12 large-4 all-authors-list__list-item">
        {% if page.custom_authors contains a %}
        <a href="{{a | slugify | datapage_url: 'authors'}}">{{a}}</a>
        {% else %}
        <a href="by/author.html?name={{a | replace: ' ', '+' }}">{{ a }}</a>
        {% endif %}
      </div>
      {% endfor %}

      {% endcomment %}

  </div>
</div>

</div>

<script src="./js/scrollbtn.js"></script>

<script>
  $(function() {
    if (document.getElementById('content') != null) { renderAuthors('content'); }
  });
</script>

