---
layout: default

---
<div id="blog-list-page">
  <div class="top-section top-section--main-color">
    <h1>OGRX Blog</h1>
    <h3>News and Insights on Open Governance</h3>
  </div>
  <div class="row expanded large-collapse"> <!-- NEED TO MAKE THIS full height -->
    <div class="large-3 column">
      <aside class="sidebar">
        <nav class="sidebar-menu">

        {% for i in site.data.contentful.spaces.blog.blogpost %}
          <a href="{{i.title | datapage_url: 'blog'}}">{{i.title}}</a>
        {% endfor %}
        </nav>

      </aside>
    </div>

    <div class="large-9 column">
      <section class="blog-content blog-list">
        {% for i in site.data.contentful.spaces.blog.blogpost %}
        <div class="row expanded align-center">
          <div class="large-10 column">
            <div class="blog-list__item post">
              <h2><a href="{{i.title | datapage_url: 'blog'}}">{{i.title}}</a></h2>
              <p class="post__meta"><a href="{{i.title | datapage_url: 'blog'}}"><span class="post__date">{{i.sys.createdAt | date: '%B %d, %Y'}}</span></a> by {% for a in i.author %} <a href="{% assign found = false %}{% for b in site.data.custom_authors %}{% if a == b.title %}{{a | datapage_url: 'authors'}}{% assign found = true %}{% endif %}{% endfor %}{% unless found %}by/author.html?filter=.f-{{a | slugify }}{% endunless %}"><span class="post__author">{{a}}</span></a> {% endfor %}</p>
              <p>{{i.post | truncate: 500 | markdownify}}</p>
              <p class="post__meta">
                {% for c in i.innovationcategory %}

                <span class="post__category m-{{c | slugify}}">{{c}}</span>

                {% endfor %}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </section>
    </div>
  </div>
</div>

