---
layout: default

---
<div id="blog-list-page">
  <div class="top-section top-section--main-color">
    <h1>blog</h1>
    <h3>Check the most recent insights from OGRX</h3>
  </div>
  <div class="row expanded large-collapse"> <!-- NEED TO MAKE THIS full height -->
    <div class="large-3 column">
      <aside class="sidebar">
        <nav class="sidebar-menu">
        
        {% for i in site.data.main-categories offset:1 %}
          <a href="#">{{i.title}}</a>
        {% endfor %}          
        </nav>  

      </aside>
    </div>

    <div class="large-9 column">
      <section class="blog-content blog-list">
        {% for i in site.data.blog %}
        <div class="row expanded align-center">
          <div class="large-10 column">
            <div class="blog-list__item post">
              <h2><a href="blog-post.html">{{i.title}}</a></h2>
              <p class="post__meta"><span class="post__date">Nov 02, 2016 01:45 pm</span> by <span class="post__author">Andrew Young</span></p>
              <p>{{i.excerpt}}</p>
              <p class="post__meta">
                <span class="post__category m-{{i.main-category | slugify}}">{{i.main-category}}</span>
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </section>
    </div>
  </div>
</div>

