---
layout: default
---

<div class="all-categories-page">

  <div class="top-section top-section--main-color">
    <div class="row align-center">
      <div class="large-9 column">
        <h1>Main Categories</h1>
        <h3>Across the world, science and technology are creating innovative ways for people to tackle society’s problems together.</h3>
      </div>
    </div>

  </div>

  <section class="page-section main-categories">
    <div class="row expanded small-collapse medium-collapse large-collapse">
      <div class="medium-3 column ">
        <a class="category-item category-item--all" href="by/all.html">View All</a>
      </div>
      {% for category in site.data.main-categories %}
      {% assign name = category.title %}
      {% if category.display_name %}
      {% assign name = category.display_name %}
      {% endif %}
      {% if category.featured %}
      <div class="medium-3 column ">
        <a class="category-item category-item--{{name | slugify}}" href="main-categories/{{category.title | slugify}}.html">{{name}}</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>

  <div class="divider">
    <h1>Additional Categories</h1>
  </div>

  <div class="page-section all-categories">
    <div class="row expanded">
      {% for category in site.data.main-categories %}

      {% unless category.featured %}
      <div class="column large-4 all-categories__item">
        <a href="./categories/{{category.title | slugify}}.html">{{category.title}}</a>
      </div>
      {% endunless %}

      {% endfor %}
    </div>
  </div>

</div>


