---
layout: default
subtitle: Your hub for quantitative and qualitative research on innovations in governance
---

<main id="homepage" role="main"> <!-- main content starts here -->

  <section class="top-section top-section--main-color">
    <div class="row">
      <div class="medium-12 column">
        <h1><img id="main-logo" src="images/ogrx-logo-alpha-neg.png" alt="Open Governance Research Exchange"></h1>
        <h3 class="top-section__tagline">{{page.subtitle}}</h3>
      </div>
    </div>
    <a href="submit.html" class="button" id="submit-button">Submit Research</a>
    <section class="page-section main-search-section">
      <div class="row align-center">
        <div class="small-10 large-8 columns">
          <div class="row">
            <form class="search search--main-search search--negative" action="search.html">
              <input id="index-search" class="" type="text" name="s" placeholder="Search by keyword">
              <input class="search__trigger material-icons" type="submit" value="search">
            </form>
          </div>
        </div>
        <div class="row browsing-ways">
          <div class="large-12 column">
            <a href="./authors.html" class="button">Browse by author</a>
            <a href="./categories.html" class="button">Browse by category</a>
            <a href="./organizations.html" class="button">Browse by organization</a>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section id="organizations" class="divider">
    <h1>Founding Partners</h1>
  </section>

  <section class="page-section">
    <div class="row expanded">
      {% for organization in site.data.organizations %}
      {% if organization.founding_partner %}
      <div class="medium-4 column">
        <div class="organization-logo organization-logo--{{ organization.title | slugify }}">
          <a href="organizations/{{ organization.title | slugify }}.html"><img src="images/organizations/{{ organization.image }}" alt="{{ organization.title }}"></a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>

  <section id="categories" class="divider">
    <h1>Browse by Category</h1>
  </section>

  <section class="page-section main-categories">
    <div class="row expanded small-collapse medium-collapse large-collapse">
      <div class="medium-3 column ">
        <a class="category-item category-item--all" href="by/all.html">View All</a>
      </div>
      {% for category in site.data.main-categories %}
      {% assign name = category.title %}
      {% if category.display_name %}
      {% assign name = category.display_name %}
      {% endif %}
      {% if category.featured %}
      <div class="medium-3 column ">
        <a class="category-item category-item--{{name | slugify}}" href="categories/{{category.title | slugify}}.html">{{name}}</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>

</main>