---
layout: default

---

<!-- main content starts here -->
<div class="b-top-section">
  <div class="row expanded">
    <div class="small-10 column small-centered">
      <h1><img id="e-main-logo" src="images/ogrx-logo-alpha-neg.png" alt="Open Governance Research Exchange"></h1>
      <h3>Your hub for quantitative and qualitative research on innovations in governance</h3>
    </div>
  </div>
</div>
<div class="b-page-section b-main-search-section">
    <div class="row">
        <div class="small-10 large-8 small-centered columns">
            <div class="row">
                <form class="b-search m-main-search m-negative" action="search.html">
                    <input id="index-search" class="" type="text" name="s" placeholder="Search by keyword"><!--
                 --><input class="e-search-trigger material-icons" type="submit" value="search">
                </form>
            </div>
        </div>
        <div class="row b-browsing-ways">
          <div class="large-12 column">
            <a href="./authors.html" class="b-button e-way">Browse by author</a>
            <a href="./categories.html" class="b-button e-way">Browse by category</a>
            <a href="./organizations.html" class="b-button e-way">Browse by organization</a>
            <a href="./submit.html" class="b-button e-way">Submit new research</a>
          </div>
        </div>
    </div>
</div>

<div id="organizations" class="b-divider">
  <div class="row expanded m-black">
    <h1>Founding Partners</h1>
  </div>
</div>

<div class="b-page-section b-organizations">
  <div class="row expanded">
    {% for organization in site.data.organizations %}
      {% if organization.founding_partner %}
      <div class="medium-4 column end">
        <div class="e-organization-logo m-{{ organization.title | slugify }}">
          <a href="organizations/{{ organization.title | slugify }}.html"><img src="images/organizations/{{ organization.image }}" alt="{{ organization.title }}"></a>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div id="categories" class="b-divider">
  <div class="row expanded">
    <h1>Browse by Category</h1>
  </div>
</div>

<div class="b-page-section b-main-categories">
  <div class="row expanded" data-equalizer>
    {% for category in site.data.main-categories %}
    <div class="medium-3 show-for-medium column m-{{category.title | slugify}}" data-equalizer-watch>
      <a class="e-category-item" href="main-categories/{{category.title | slugify}}.html">{{category.title}}</a>
    </div>
    {% endfor %}
  </div>
</div>