---
layout: default

---
<div id="blog-list-page">
  <div class="top-section top-section--main-color">
    <h1>Selected Readings</h1>
    <h3>Curated Lists of Papers on Specific Topics</h3>
  </div>
  <div class="row expanded large-collapse"> <!-- NEED TO MAKE THIS full height -->

    <div class="large-12 column">
      {% for i in site.data.contentful.spaces.lists.list %}
      <div class="list__item">
        <div class="list__description">
          <a href="{{i.title | datapage_url: 'list'}}"><h2>{{i.title}}</h2></a>
          <p class="post__meta"><span class="post__date">{{i.sys.createdAt | date: '%B %d, %Y'}}</span> by {% for a in i.author %} <a href="{{a | datapage_url: 'authors'}}"><span class="post__author">{{a}}</span></a> {% endfor %}</p>
          <p>{{i.description | truncate: 500 | markdownify}}</p>
          <p><a class="button" href="{{i.title | datapage_url: 'list'}}">View List</a></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

