---
layout: default
---

<div class="organization-list-page">

  <div class="top-section">
    <h1>Organizations</h1>
  </div>

<!-- List of Organizations - Founding Organizations -->
<div class="divider">
  <div class="row">
    <div class="column large-12">
      <h2>Founding Partners</h2>
    </div>
  </div>
</div>

  <div class="page-section">
    <div class="row align-spaced expanded align-middle">
      {% for organization in site.data.organizations %}
        {% if organization.founding_partner %}
        <div class="column large-4">
          <a class="organization organization--founding-partner organization--{{ organization.title | slugify }}" href="./organizations/{{ organization.title | slugify }}.html"><img src="./images/organizations/{{ organization.image }}" alt="{{ organization.title }}"></a>
        </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>

  <div class="divider">
    <div class="row">
      <div class="column large-12">
        <h2>Contributing Partners</h2>    
      </div>
    </div>
    
  </div>

  <div class="page-section organizations">
    <div class="row align-spaced expanded align-middle">
      {% for organization in site.data.organizations %}
        {% unless organization.founding_partner %}
          <div class="column large-3">
              <a class="organization organization--contributing-partner organization--{{ organization.title | slugify }}" href="./organizations/{{ organization.title | slugify }}.html"><img src="./images/organizations/{{ organization.image }}" alt="{{ organization.title }}"></a>
          </div>
        {% endunless %}
      {% endfor %}

    </div>
  </div>
</div>